.last_msg_box
{
    display: block;
    clear:both;
    margin:20px 0px;
    border:2px solid #c1c1c1;
    overflow:hidden;
}

.last_msg_box:hover
{
    cursor:pointer;
}

.header_box
{
    background: #e44746;
    padding:15px;
    display: block;
    float:left;
    width:100%;
    font-size:14px;
    font-weight:bold;
    color:#f3f3e0;
}

.last_msg_box_txt
{
    padding:15px;
    display: block;
    float: left;
}

.msg_box
{
    display: block;
    clear:both;
    width: 500px;
    border-radius:25px;
    overflow:hidden;
}

.msg_box_bottom
{
    display: block;
    clear:both;
    width: 200px;
    height: 60px;
    margin: 0px 20px;
    }

.msg_box_date, .msg_box_from
{
    display: block;
    float:left;
    font-size:14px;
    font-weight:bold;
    color:#f3f3e0;
}

.msg_box_from
{
    background: #e44746;
    width:100%;
    padding:10px;
}

.msg_box_bottom .msg_box_date
{
    width:100%;
    color:#999999;
    padding:10px 0px;
}

.msg_box_txt
{
    font-size: 17px;
    font-weight: normal;
    padding: 10px 5%;
    border-top: 1px solid #000;
    display: block;
    clear: both;
    width: 90%;
}

#older_msg_btn
{
    display:none;
    width: 50px;
    height: 30px;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 36px;
    text-align: center;
}

.msg_box.box_right
{
    float:right;
}

.msg_box.box_left
{
    float:left;;
}

.box_right .msg_box_txt
{
    background:#e5e3be;
}

.box_left .msg_box_txt
{
    background:#e1e0d8;
    float:left;
}

.tab_right
{
    float:right;
    text-align: right;
}

.tab_left
{
    float:left;
    text-align: 100%;
}

#send_massage, #message_list
{
display:block;
float:left;
clear:both;
width:100%;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #444;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
