html, body
{
    margin:0px;
    padding:0px;
    background:#d8d8d8;
}

h2, p, div, td, p, a, input
{
    font-family:arial;
}

#home p
{
    color:#f3f3e0;
}


#phone_menu{
    display:none;
    width:100%;
    background:#373737;
    clear:both;
    height:60px;
}

#main
{
    margin:auto;
    width:1080px;
}

#menu_bar
{
    display:block;
    float:left;
    width:980px;
    background:#373737;
}

#menu_bar .menu_link
{
    display:block;
    float:left;
    padding:10px;
    margin:10px;
    color:#f3f3e0;
    text-decoration:none;
    font-size:17px;
}

.boxView
{
    display:block;
    float:left;
    width:300px;
    margin:0px 18px;
    padding:0px 18px;
    
}

#login_btn, .btn_m1
{
    display:block;
    float:left;
    width:100px;
    background:#696963;
    text-align:center;
    padding:20px 0px;
    color:#f3f3e0;
    font-weight:bold;
    font-size:17px;
}

.btn_m1
{
    width:auto;
    padding:10px 30px;
    margin:10px;
}

#login_btn:hover, .btn_m1:hover
{
    cursor:pointer;
}

.calendar_box
{
    display:block;
    float:left;
    width:260px;
    border:1px solid #000;
    margin:10px;
    overflow:hidden;
 }

.calendar_box .boxing
{
    display:block;
    width:100%;
    padding:25px 10px;
    text-transform: uppercase;
    color: #f3f3e0;
    font-size: 17px;
    background:#e44746;
    text-decoration: none;
}

.calendar_box .tab
{
    display: block;
    float: right;
    width: 100%;
    min-height: 30px;
    padding: 10px 10px 0px 0px;
    text-transform: uppercase;
    color: #f3f3e0;
    font-size: 17px;
    background: #333333;
    text-align: right;
}

#new_btn
{
    background:#009900;
}

.calendar_box .tab img:hover, .calendar_box .boxing:hover {cursor:pointer;}


.calendar_box a
{
    text-decoration: none;
}

#home
{
    background:#e44746;
    text-align:center;
    
}

#home p
{
    font-size:30px;
}

.btn_c2
{
    display:block;
    float:left;
    width:720px;
    min-height:180px;
    text-align:left;
    background-color:#608bc1;
    padding:0px;
    
}

.btn_c2 p, #home .btn_c2 p, .btn_c1 p, #home .btn_c1 p 
{
    font-size:24px;
    padding:20px 30px;
}

.btn_c1
{
    display:block;
    float:left;
    width:360px;
    min-height:180px;
    background-color:#133e87;
    
}

.divider
{
    display:block;
    float:left;
    width:100%;
    height:4px;
    background-color:#f3f3e0;
}

#content_body
{
    display:block;
    clear:both;
    float:left;
    width:100%;
    padding:0px 0px 0px 0px;
    background:#FFFFFF;
    box-sizing: content-box;
}

.content_div
{
    clear:both;
    display:none;
    float:left;
}

#home 
{
    padding-top:40px;
}

.form_box
{
    display: block;
    padding:10px 20px;
    border:2px solid #696963;
    margin: 0 auto;
    width: fit-content;
    background: #e44746;
    color:#f3f3e0;
    font-size:16px;
}

.form_box input, .form_box select 
{
    border:1px solid #373737;
    font-size:16px;
    width: 280px;
    padding:10px;
    margin:10px;
}

.form_box input[type="button"]
{
    background:#373737;
    padding:10px 30px;
    color:#f3f3e0;
    font-weight:bold;
    font-size:15px;
    border:none;
    margin-top:15px;
    width:auto;
}

.form_box input[type="button"]:hover
{
    cursor:pointer;
}

.form_box table
{
    margin: 0 auto;
}

.content_view
{
    margin:40px;
    width:1000px;
    min-height:400px;
}

#gdpr_banner
{
    position:fixed;
    bottom:0px;
    background-color:rgba(0, 0, 0, 0.8);
    width:100%;
    padding:20px;
    text-align:center;
    
}

#gdpr_banner p
{
    color:#f3f3e0;
    size:14px;
}

#gdpr_banner #gdpr_ok
{
    display: inline-block;
    padding:10px 15px;
    margin:0px 10px;
    background:#009900;
    border:1px solid #FFF;
    color:#f3f3e0;
    size:14px;
}

#gdpr_banner #gdpr_ok:hover
{
    cursor:pointer;
}

#dashboard_menu
{
    display:block;
    clear:both;
    padding:10px;
}


#board_list
{
    display:block;
    float:left;
    padding:10px 20px;
    border-top:1px solid #000;
    margin:0px 20px;
}

.last_msg_box
{
    display: block;
    clear:both;
    margin:20px 0px;
    border:2px solid #c1c1c1;
    overflow:hidden;
}

.last_msg_box:hover
{
    cursor:pointer;
}

.header_box
{
    background: #e44746;
    padding:15px;
    display: block;
    float:left;
    width:100%;
    font-size:14px;
    font-weight:bold;
    color:#f3f3e0;
}

.last_msg_box_txt
{
    padding:15px;
    display: block;
    float: left;
}

.msg_box
{
    display: block;
    clear:both;
    width: 500px;
    border-radius:25px;
    overflow:hidden;
}

.msg_box_bottom
{
    display: block;
    clear:both;
    width: 200px;
    height: 60px;
    margin: 0px 20px;
    }

.msg_box_date, .msg_box_from
{
    display: block;
    float:left;
    font-size:14px;
    font-weight:bold;
    color:#f3f3e0;
}

.msg_box_from
{
    background: #e44746;
    width:100%;
    padding:10px;
}

.msg_box_bottom .msg_box_date
{
    width:100%;
    color:#999999;
    padding:10px 0px;
}

.msg_box_txt
{
    font-size:17px;
    font-weight:normal;
    width: 100%;
    padding:20px 40px;
    border-top:1px solid #000;
    display: block;
    clear:both;
}

.msg_box.box_right
{
    float:right;
}

.msg_box.box_left
{
    float:left;;
}

.box_right .msg_box_txt
{
    background:#e5e3be;
}

.box_left .msg_box_txt
{
    background:#e1e0d8;
    float:left;
}

.tab_right
{
    float:right;
    text-align: right;
}

.tab_left
{
    float:left;
    text-align: 100%;
}

#send_massage, #message_list
{
display:block;
float:left;
clear:both;
width:100%;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #444;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  table
  {
    table-layout: fixed;
    border-collapse: collapse;
  }

  table td
  {
    vertical-align: top;
  }

  .forgot
  {
    color:#e1e0d8;
    font-size:11px;
    text-decoration: none;
    font-weight: bold;
  }

  .btn {
    background-color:#44c767;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:15px 0px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.btn_red{
    background-color: #AA0404;    
}
