@media only screen and (max-width: 800px) {
    html, body
    {
        background:#FFFFFF;
    }
    
    #main, .content_view, #menu_bar, .btn_c1, .btn_c2
    {
        width:100%;
        margin:0px;
    }

    .content_view
    {
        padding:20px 0px 80px 0px;
    }

    .content_div
    {
        width: 100%;
    }

    #home img
    {
        width:90%;
            
    }

    .form_box
    {
        width:auto;
        margin: 0 20px;
    }

    .form_box table
    {
        width:100%;
    }

    .form_box table .td1
    {
        width:120px;
    }
    .form_box input
    {
        width:80%;
    }

    #cal_top_header, #calendar_box
    {
        width:100%;
        min-width:100%;        
    }

    .dayPicker, .dayPickerEmty, .greyedOut, .booked {
        width:30px;
        height:30px;
    }

    #menu_bar .menu_link, #login_btn
    {
        display:block;
        width:90%;
        border-top:1px solid #000;
        float: left;
        padding: 5%;
        color: #f3f3e0;
        text-decoration: none;
        font-size: 17px;
        margin:0px;
        text-align:center;
    }
    
    
    #login_btn
    {
        border-bottom:1px solid #000;
        
    }
 
    #menu_bar, #login_btn
    {
        display:none;
    }
    
    .last_msg_box {
        margin:20px 20px;
    }
    
    .msg_box.box_right
    {
        margin-right:10px;
    }

    .msg_box.box_left
    {
        margin-left:10px;
    }
    
    .msg_box_txt
    {
        max-width:auto;
    }

    .msg_box
    {
        width:80%;
    }

    .calendar_box
    {
        display:block;
        float:left;
        width:90%;
        border: 1px solid #000;
        margin: 8px 5%;   
        
        
    }

    .text_box
    {
        padding: 10px 50px;
        text-align: justify;
    }

    #phone_menu{
        display:block;
        float:left;
        width:100%;
        background:#373737;
        clear:both;
        height:80px;
    }

    #phone_menu_btn
    {
        display:block;
        float:right;
        width:80px;
        height:80px;
        background-image:url("/images/svg/menu_btn.svg");  
        background-size:60px;
        background-repeat:no-repeat;
        background-position: center;      
    }

    #second_month_picker .dayPickerEmty, #first_month_picker .dayPickerEmty
    {
        height:2px;
    }

    #calendar_box, #cal_top_header
    {
        width:300px;
        min-width:300px;
        margin:0 auto;
    }

    #first_month, #second_month
    {
        width: 280px;
    }
    .fixed
    {
        position:fixed;
        bottom:0px;
        left:0px;
    }

    .space_box
{
    display:block;
    float:left;
    clear:both;
    height:100px;
    width:100%;
}

    #calendar_info_box
    {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 90%;
        height: 90%;
        padding: 5%;
        border: 0px;
    }

    .form_box td input
    {
        width:80%;
    }

    #schedu_box {
        height:300px;
    }
    
    .content_view
    {
        min-height:100px;
    }

    #prev_phone_btn, #next_phone_btn	
    {
        display:block;
    }

    #prev, #next
    {
        display:none;
    }

    #cal_top_header
    {
        height:40px;
    }

    .boxView
    {
        width:90%;
        padding:0px 5%;
        margin:0px;
    }

    .confirm_list
    {
        height:0px;
        padding: 10px 5% 0px;
        border-top: 2px solid #333;
        margin-top: 50px;
    }

}
