.smallDayPicker, .smallDayPickerEmty, .smallGreyedOut
{
    width:30px;
    height:30px;
    text-align:center;
    display: grid;
    float:left;
    align-items: center;
    font-size:12px;
    padding:2px;
    margin:2px;
    border:1px solid #e9e9e9;
}

.topRow
{
    font-size:10px;
    font-weight:bold;
    border-bottom:3px solid #000000;
}

.smallGreyedOut
{
    background-color:#d0d0d0;
}

.smallDayPicker, .smallGreyedOut
{
    border:1px solid #c1c1c1;
    border-radius:3px;
}

.smallDayPicker
{
    background:#FFFFFF;
}

#small_calendar
{
    display:block;
    float:left;
    padding:2px;
    margin:4px;
    background:#e9e9e9;
    width:100%;
}

#small_cal_prev, #small_cal_next
{
    display:block;
    float:left;
    width:55px;
    text-align:center;
    font-size:14px;
    padding:8px 0px;
    border:1px solid #062538;
    border-radius:5px;
    background:#2dabf9;
    color:#e9e9e9;
    text-shadow:1px 1px #263666;
    text-transform: uppercase;
    font-weight: bold;
}

#small_cal_next{
    float:right;
}

.break
{
    clear:both;
}

#small_cal_month_picker
{
    clear:both;
}

#small_cal_top_header
{
    display: block;
    float: left;
    clear: both;
    min-width: 100%;
    text-align:center;
    font-size:14px;
}

.booking_list_item
{
    display: block;
    clear:both;
    padding:10px;
    margin:10px;
    border:1px solid #333333;

}

#time_picker_cal
{
    display:block;
    float:left;
    padding: 10px;
    width:100%;
    border:1px solid #333333;
    background:#e9e9e9;
}

#booking_list_view
{
    display:block;
    float:left;
    width:100%;
    height:430px;
    border:1px solid #333333;

}

#small_calendar_wrapper
{
    display:block;
    float:left;
    background:#e9e9e9;
    
}

#pick_date_btn
{
    display:block;
    width:100%;
    text-align:center;
}
    
#time_line
{
    display:block;
    float:left;
    width:50px;
    border-right:2px solid #000000;

}

.time_indicator
{
    height:30px;
}

.time_indicator div
{
    height:100%;
    margin-left: -4px;
    font-size:11px;
    text-align:center;
}

#time_slots
{
    display:block;
    float:left;
    width:200px;
}

.time_slot
{
    display:block;
    float:left;
    outline:2px solid #c1c1c1;
    height:100%;
    width:260px;
    box-sizing: border-box;
    padding:10px 0px 0px 70px;
    font-family:arial;
    font-size:16px;

}


.checkMark
{
    display:block;
    float:right;
    width:40px
    
}

#schedu_box
{
    display:block;
    clear:both;
    width: 100%;
    height:430px;
    overflow-x: hidden;
    overflow-y: scroll;
    border:2px solid #c1c1c1;
    padding: 10px;
}

.schedu_btn
{
    display:block;
}

.btn {
    background-color:#44c767;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:15px 0px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
